html,body {
	overflow: hidden;
}

body {
    font-weight: lighter;
    text-align: center;
    font-family: 'Lato';
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.wrapper {
	padding: 0 15px;
}

#intro {
	background: url('../images/tour_bg-min.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#intro h1{
	color: #14abb9;
	font-size: 65px;
	font-family: 'Dancing Script';
	padding: 20px 0;
	font-weight: lighter;
	opacity: 0;
}

#intro p{
	color:#5c7782;
	font-size: 17px;
	line-height: 22px;
}

.intro-para {
	opacity: 0;
}

.slideLeft {
	-webkit-animation: slideLeft 1.5s ease; 
    animation: slideLeft 1.5s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;

}

.slideRight {
	-webkit-animation: slideRight 1.5s ease; 
    animation: slideRight 1.5s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
}

@-webkit-keyframes slideLeft {
	0% {-webkit-transform: translateX(-150px); opacity: 0;}
	100% {-webkit-transform: translateX(0px); opacity: 1;}
}

@keyframes slideLeft {
	0% {transform: translateX(-150px); opacity: 0;}
	100% {transform: translateX(0px); opacity: 1;}
}

@-webkit-keyframes slideRight {
	0% {-webkit-transform: translateX(150px); opacity: 0;}
	100% {-webkit-transform: translateX(0px); opacity: 1;}
}

@keyframes slideRight {
	0% {transform: translateX(150px); opacity: 0;}
	100% {transform: translateX(0px); opacity: 1;}
}

.intro-tekst p:last-child{
	padding-bottom: 40px;
}

a {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 12px;
	color:#5c7782;
	width: 90px;
}

.intro-para a {
	margin: 0;
	display: inline;
	color:#5c7782;
	font-size: 20px;
	line-height: 22px;
}

a.link{
	margin-top: -30px;
}

footer {
	background-color: #fff;
	margin-bottom: 15px;
}

footer img {
	max-width: 100%;
	display: block;
	margin: 25px auto;
}

.modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90%;
	max-width: 768px;
	height: auto;
	z-index: 200;
	visibility: hidden;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: left;
	color:#5c7782;
}

.modal-show {
	visibility: visible;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0, 0, 0, .4);
	-webkit-transition: all .3s;
	transition: all .3s;
}

.modal-show ~ .modal-overlay {
	opacity: 1;
	visibility: visible;
}

.modal-content {
	background-color: #fff;
	padding: 15px;
}

.modal-effect-1 .modal-content {
	-webkit-transform: translateY(-500px);
	-moz-transform: translateY(-500px);
	-ms-transform: translateY(-500px);
	transform: translateY(-500px);
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transition: all 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.modal-show.modal-effect-1 .modal-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

input:focus{
    outline: 0;
}

/*QUERIES*/
@media (min-width: 420px){
	footer img {
		float: left;
	}

	.tm {
		float: right;
		margin: 45px;
	}

	.modal-content {
		padding: 25px;
	}

}

@media (min-width: 768px) {
	#intro h1 {
		padding-top: 70px;
	}

	.intro-tekst p:last-child{
		margin-bottom: 20px;
	}

	footer {
		background-color: rgba(255, 255, 255, 0.7);
		position: absolute;
		bottom: 0;
		left:0;
		right: 0;
		/*margin-bottom: 50px;*/
	}
}


@media (min-width: 960px) {
	.wrapper {
		width: 960px;
		margin: 0 auto;
	}

	#intro h1 {
		font-size: 80px;
	}

	#intro p {
		font-size: 20px;
		line-height: 25px;
	}
}
