html,body {
	overflow: hidden;
}

body {
    font-family:'helvetica neue', helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/* ==========================================================================
   Background images + animations for pages
   ========================================================================== */


.page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.page-1 {
	background: url('../assets/DSC_7221-1-min.jpg') no-repeat center center;
}

.page-2 {
	background: url('../assets/DSC_7222-2-min.jpg') no-repeat center center;
}

.page-2_1 {
	background: url('../assets/DSC_7223-3-min.jpg') no-repeat center center;
}

.page-2_1_1 {
	background: url('../assets/DSC_7229-8-min.jpg') no-repeat center center;
}

.page-2_1_2 {
	background: url('../assets/DSC_7231-10-min.jpg') no-repeat center center;
}

.page-2_1_3 {
	background: url('../assets/DSC_6801-min.jpg') no-repeat center center;
}

.page-2_2 {
	background: url('../assets/DSC_7225-4-min.jpg') no-repeat center center;
}

.page-2_2_1 {
	background: url('../assets/DSC_6793-min.jpg') no-repeat center center;
}

.page-3 {
	background: url('../assets/DSC_7226-5-min.jpg') no-repeat center center;
}

.page-4 {
	background: url('../assets/DSC_6752-min.jpg') no-repeat center center;
}

.fadeInBot {
	-webkit-animation: fadeInBot .3s ease; 
    animation: fadeInBot .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInBot {
	0% {-webkit-transform:translateY(100vh); opacity: 0;}
	100% {-webkit-transform:translateY(0vh); opacity: 1;}
}

@keyframes fadeInBot {
	0% {transform:translateY(100vh); opacity: 0;}
	100% {transform:translateY(0px); opacity: 1;}
}

.fadeInTop {
	-webkit-animation: fadeInTop .3s ease; 
    animation: fadeInTop .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInTop {
	0% {-webkit-transform:translateY(-100vh); opacity: 0;}
	100% {-webkit-transform:translateY(0vh); opacity: 1;}
}

@keyframes fadeInTop {
	0% {transform:translateY(-100vh); opacity: 0;}
	100% {transform:translateY(0px); opacity: 1;}
}

.fadeInLeft {
	-webkit-animation: fadeInLeft .3s ease; 
    animation: fadeInLeft .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translateX(-100vh); opacity: 0;}
	100% {-webkit-transform:translateX(0vh); opacity: 1;}
}

@keyframes fadeInLeft {
	0% {transform:translateX(-100vh); opacity: 0;}
	100% {transform:translateX(0px); opacity: 1;}
}

.fadeInRight {
	-webkit-animation: fadeInRight .3s ease; 
    animation: fadeInRight .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translateX(100vh); opacity: 0;}
	100% {-webkit-transform:translateX(0vh); opacity: 1;}
}

@keyframes fadeInRight {
	0% {transform:translateX(100vh); opacity: 0;}
	100% {transform:translateX(0px); opacity: 1;}
}


/* ==========================================================================
   Arrow navigation styles + animation for tekst
   ========================================================================== */

nav a {
	position: absolute;
	outline: none;
	text-align: left;
	text-decoration: none;
	z-index: 10;
}

.roundslide a {
	margin: 0 20px;
	padding: 15px;
	width: 62px;
	height: 62px;
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.85);
	-webkit-transition: width .3s, background-color .3s;
	transition: width .3s, background-color .3s;
	overflow: hidden;
}

.roundslide h1 {
	position: absolute;
	top:0;
	margin: 0;
	color: #14abb9;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Dancing Script';
	line-height: 3.2;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	opacity: 0;
}

/*POSITIONERING*/
.top {
	top: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.bottom {
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.left {
	left:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.right {
	right:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.roundslide a.top h1 {
	left: 30%;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.roundslide a.less-margin-top-left h1 {
	left: 40%;
}

.roundslide a.bottom h1 {
	left: 30%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.roundslide a.left h1 {
	right: 40px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.roundslide a.less-margin-right h1 {
	right: 20px;
}

.roundslide a.right h1 {
	left: 40px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.roundslide a:hover {
	width: 200px;
	background-color: rgba(20, 171, 185, 0.85);
}

/*TRIANGLES*/
.boven { 
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	top: 10px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.onder {
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	bottom: 10px;
	right:15px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.links {
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-right: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	left: 10px;
}

.rechts {
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	right: 10px;
}

/*ANIMATIONS*/
.roundslide a:hover .boven {
	border-bottom: 16px solid #fff;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.roundslide a:hover .onder {
	border-top: 16px solid #fff;
	bottom: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(50%);
}

.roundslide a:hover .links {
	border-right: 16px solid #fff;
}

.roundslide a:hover .rechts {
	border-left: 16px solid #fff;
}

.roundslide a:hover h1 {
	opacity: 1;
	color: #fff;
	transition-delay:0.2s;
	transform: translate(0);
}