html,body {
	overflow: hidden;
}

body {
    font-family:'Lato', sans-serif;
    font-weight: lighter;
    text-align: center;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/* ==========================================================================
   Background animations for pages
   ========================================================================== */
.page {
	height: 100vh;
}

.fadeInBot {
	-webkit-animation: fadeInBot .3s ease; 
    animation: fadeInBot .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInBot {
	0% {-webkit-transform:translateY(100vh); opacity: 0;}
	100% {-webkit-transform:translateY(0vh); opacity: 1;}
}

@keyframes fadeInBot {
	0% {transform:translateY(100vh); opacity: 0;}
	100% {transform:translateY(0px); opacity: 1;}
}

.fadeInTop {
	-webkit-animation: fadeInTop .3s ease; 
    animation: fadeInTop .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInTop {
	0% {-webkit-transform:translateY(-100vh); opacity: 0;}
	100% {-webkit-transform:translateY(0vh); opacity: 1;}
}

@keyframes fadeInTop {
	0% {transform:translateY(-100vh); opacity: 0;}
	100% {transform:translateY(0px); opacity: 1;}
}

.fadeInLeft {
	-webkit-animation: fadeInLeft .3s ease; 
    animation: fadeInLeft .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translateX(-100vh); opacity: 0;}
	100% {-webkit-transform:translateX(0vh); opacity: 1;}
}

@keyframes fadeInLeft {
	0% {transform:translateX(-100vh); opacity: 0;}
	100% {transform:translateX(0px); opacity: 1;}
}

.fadeInRight {
	-webkit-animation: fadeInRight .3s ease; 
    animation: fadeInRight .3s ease; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translateX(100vh); opacity: 0;}
	100% {-webkit-transform:translateX(0vh); opacity: 1;}
}

@keyframes fadeInRight {
	0% {transform:translateX(100vh); opacity: 0;}
	100% {transform:translateX(0px); opacity: 1;}
}


/* ==========================================================================
   Arrow navigation styles + animation for tekst
   ========================================================================== */

nav a {
	position: absolute;
	outline: none;
	text-align: left;
	text-decoration: none;
	z-index: 10;
}

.roundslide a {
	margin: 20px;
	padding: 15px;
	width: 62px;
	height: 62px;
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-transition: width .3s, background-color .3s;
	transition: width .3s, background-color .3s;
	overflow: hidden;
}

.roundslide h1, .roundslide h2 {
	position: absolute;
	top:0;
	margin: 0;
	color: #14abb9;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 700;
	font-size: 20px;
	line-height: 3.2;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	opacity: 0;
}

.roundslide h2{
	font-size: 15px;
	margin-top:5px;
}

/*POSITIONERING*/
.top {
	top: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.bottom {
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.left {
	left:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.right {
	right:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.roundslide .middle {
	position:static;
	margin-left:auto;
	margin-right:auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.roundslide a.top h1 {
	left: 30%;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.roundslide a.less-margin-top-left h1 {
	left: 37.5%;
}

.roundslide a.less-margin-top-left1 h1 {
	left: 35%;
}

.roundslide a.less-margin-top-left2 h1 {
	left: 28%;
}

.roundslide a.bottom h1 {
	left: 25%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.roundslide a.less-margin-bottom-left h1 {
	left: 18%;
}

.roundslide a.left h1 {
	right: 40px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.roundslide a.evenless-margin-right h1 {
	right: 10px;
}

.roundslide a.less-margin-right h1 {
	right: 20px;
}

.roundslide a.less-margin-right1 h1 {
	right: 30px;
}

.roundslide a.more-margin-right1 h1 {
	right: 55px;
}

.roundslide a.more-margin-right2 h1 {
	right: 65px;
}

.roundslide a.right h1 {
	left: 40px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.roundslide a.less-margin-left h1 {
	left: 15px;
}

.roundslide a.less-margin-left1 h1 {
	left: 20px;
}

.roundslide a.less-margin-left2 h1 {
	left: 30px;
}

.roundslide a.less-margin-left3 h1 {
	left: 45px;
}

.roundslide a.more-margin-left h1 {
	left: 55px;
}

.roundslide a.middle h2 {
	right: 25%;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}



.roundslide a:hover {
	width: 200px;
	background-color: rgba(20, 171, 185, 0.85);
}

/*TRIANGLES*/
.boven { 
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	top: 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.onder {
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	bottom: 20px;
	right:15px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.links {
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-right: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	left: 20px;
}

.rechts {
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 16px solid #14abb9;
	margin: 0;
	position: absolute;
	right: 20px;
}


/*ANIMATIONS*/
.roundslide a:hover .boven {
	border-bottom: 16px solid #fff;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.roundslide a:hover .onder {
	border-top: 16px solid #fff;
	bottom: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(50%);
}

.roundslide a:hover .links {
	border-right: 16px solid #fff;
}

.roundslide a:hover .rechts {
	border-left: 16px solid #fff;
}

.roundslide a:hover h1 {
	opacity: 1;
	color: #fff;
	transition-delay:0.2s;
	transform: translate(0);
}

.roundslide a:hover h2 {
	opacity: 1;
	color: #fff;
	transition-delay:0.2s;
	transform: translate(0);
}